<section id="work" style="padding-top: 50px" >
    <div class="container-fluid" style="width: auto" >
        <div class="heading-title heading-dotted text-center">
            <h2>Interventions</h2>
        </div>

        <div class="row-fluid text-center">
          <span class="border">
          <%= form_for(@intervention) do |f| %>

            <div class="col-md-12">
              <div>
                  <%= f.label :customer_id %>
                  <%= f.collection_select :customer_id, Customer.all.order(:business_name), :id, :business_name, { prompt: 'Please select' } %>
              </div>

              <br />

              <div>
                  <%= f.label :building_id %>
                  <%= f.collection_select :building_id, Building.all.where(customer_id: :customer_id), :id, :building_name, { prompt: 'Please select' } %>
              </div>

              <br />

              <div>
                  <%= f.label :battery_id %>
                  <%= f.collection_select :battery_id, Battery.all.where(building_id: :building_id), :id, :id, { prompt: 'Please select' } %>
              </div>

              <br />

              <div>
                  <%= f.label :column_id %>
                  <%= f.collection_select :column_id, Column.all.where(battery_id: :battery_id), :id, :id, { prompt: 'Please select' } %>
              </div>

              <br />

              <div>
                  <%= f.label :elevator_id %>
                  <%= f.collection_select :elevator_id, Elevator.all.where(column_id: :column_id), :id, :id, { prompt: 'Please select' } %>
              </div>
           
              <br />
            
              <div>
                  <%= f.label :employee_id %>
                  <%= f.collection_select :author, Employee.all.order(:first_name), :id, :name, { prompt: 'Please select' } %>
              </div>

              <br />

              <div>
                  <%= f.label :report %>
                  <%= f.text_area :report, {cols: 60, rows: 10} %>
              </div>

              <br />

              <div class="actions">
                  <%= f.submit %>
              </div>

            </div>

          <% end %>
        </div>
    </div>