<p id="notice"><%= notice %></p>

<div class="heading-title heading-dotted text-center">
  <h2>Interventions</h2>
</div>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @interventions.each do |intervention| %>
      <tr>
        <td>
        <%= intervention.id %>
        <td>
        &nbsp
        <td>
        <%= intervention.customer.business_name %>
        <td>
        &nbsp
        <td>
        <%= intervention.building.building_name %>
        <td>
        &nbsp
        <td> 
        Report: <%= intervention.report %>
        <td>
        &nbsp
        <td>
        Status: <%= intervention.status %>
        <td>
        &nbsp
        <td>
        Starting Date: <%= intervention.starting_date %>
        <td>
        &nbsp
        <td>
        Ending Date: <%= intervention.ending_date %>
        <td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'New Intervention', new_intervention_path %>
