
<div class="heading-title heading-dotted text-center">
  <h2>Interventions</h2>
</div>

<div class="row-fluid text-center">

  <table border="1", align="center">
    <thead>
      <tr>
        <th>Id</th>
        <th>Company</th>
        <th>Building</th>
        <th>Report</th>
        <th>Employee</th>
        <th>Status</th>
        <th>Starting Date</th>
        <th>Ending Date</th>
      </tr>
    </thead>

    <tbody>
      <% @interventions.each do |intervention| %>
        <tr>
          <td><%= intervention.id %></td>
          <td><%= intervention.customer.business_name %></td>
          <td><%= intervention.building.building_name %></td>
          <td><%= intervention.report %></td>
          <td><%= intervention.employee.first_name%>&nbsp<%= intervention.employee.last_name%>
          <td><%= intervention.status %></td>
          <td><%= intervention.starting_date %></td>
          <td><%= intervention.ending_date %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="actions">
    <%= link_to 'Create a New Intervention', new_intervention_path %>
  </div>
  &nbsp
  &nbsp

</div>